/* Reusable */
*:focus {
  outline:none; 
}


.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* dark: #424242 */
/* yellow: #FFD366 */
/* 
  healthy green: #86D73F
  underweight blue: #31BAF9
  overweight lightorange: #FF982D 
  obese orange: #FF6C03
  morbidly obese red: #FF1200
*/

/* HEADER */

header {
  background-color: #424242;
  color: #FFD366;
}

.form-section {
  width: 90%;
}

.form-section label{
  display: block;
}

.form-section input {
  width: 100%;
  height: 40px;
  font-size: 1.2rem;
  color: #eee;
  background-color: #5a5757;
  border: 2px solid #FFD366;
  padding-left: 2px;
}

::placeholder {
  color: rgba(238, 238, 238, 0.507);
}

.result-btn {
  display: block;
  background-color: #FFD366;
  color: #5a5757 !important;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s, font-size 0.2s;
}

.result-btn:hover,
.result-btn:active {
  background-color: #ffbf22;
  font-size: 1.1rem;
}

/* Result circles */

.healthy {
  color: #86D73F;
}

.bg-healthy {
  background-color: #86D73F;
}

.healthy .circle,
.healthy .reload-icon {
  background-color:#86D73F;
}

.healthy .reload-icon {
  color: #fff;
}

.underweight {
  color: #31BAF9;
}

.bg-underweight {
  background-color: #31BAF9;
}

.underweight .circle,
.underweight .reload-icon {
  background-color: #31BAF9;
}

.overweight {
  color: #FF982D;
}

.bg-overweight {
  background-color: #FF982D;
}


.overweight .circle,
.overweight .reload-icon{
  background-color: #FF982D;
}

.obese {
  color: #FF6C03;
}

.bg-obese {
  background-color: #FF6C03;
}

.obese .circle,
.obese .reload-icon{
  background-color: #FF6C03;
}

.morbidly {
  color: #FF1200;
}

.bg-morbidly {
  background-color: #FF1200;
}

.morbidly .circle,
.morbidly .reload-icon{
  background-color: #FF1200;
}

.result-top {
  margin-top: 1rem;
}

.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: green;
  position: relative;
  margin-right: 0.8rem;
}

.result-top span{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1.2rem;
}

.inner-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background-color:  #424242;
}

.inner-circle .h3 {
  font-weight: 100;
  font-size: 2.5rem;
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.inner-circle span {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9rem;
  font-weight: 400;
}

.circle .reload-icon {
  background-image: url('./../img/icons_loop.png');
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  border-radius: 50%;
  left: 75%;
  top: 70%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid #424242;
  transition: border 0.2s;
  color: #424242;

}


.reload-icon:hover,
.reload-icon:active {
  border: 2px solid #424242;
}


/* Results */

.results {
  background-color: rgba(238, 238, 238, 0.863);
}

.results .h2 {
  font-weight: 300;
}

.result-list {
  list-style: none;
  padding-left: 0;
}

.result-list li{
  background-color: #fff;
  padding: 0.6rem;
  width: 80%;
  margin: 0.8rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 3px rgba(199, 182, 182, 0.231);
  position: relative;
}

.result-list li>div {
  flex: 3;
}

.result-list .colortheme {
  position: absolute;
  left: 0;
  width: 6px;
  top: 0;
  bottom: 0;
}

.result-list li div:nth-child(2) {
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.result-list li div:nth-child(6){
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
}

.result-list li div:last-child {
  flex: 1;
  text-align: center;
}

.result-list li div:last-child a:link,
.result-list li div:last-child a:visited {
  font-size: 1.4rem;
  cursor: pointer;
  color: inherit;
}

.result-list li .box-number {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 400;
}

.result-list li .box-number span{
  font-size: 0.6rem;
  text-transform: uppercase;
  align-self: baseline;
  margin-right: 0.2rem;
}


/* FOOTER */

footer {
  background-color: #FFD366;
}

.main-section {
  min-height: calc(100vh - 256px - 71px);
}